{% extends 'quiz/base.html' %}

{% block content %}
<div class="container" id="quizapp">
    <div class="row mx-auto m-5  justify-content-center align-items-center quiz">
        <button id="startquiz" type="button" class="btn btn-primary">Start Quiz</button>

    </div>
    <div class="row mx-auto m-5   justify-content-center align-items-center quiz">

        <ul id="cat1">

        </ul>

    </div>

</div>
<div class="container" id="question_list">
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">

        </div>
        <div class="result ml-sm-5 pl-sm-5 pt-2">

        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    user = window.localStorage.getItem('username');
    console.log(user, 'username')
    $(document).ready(function(){
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            url: 'http://127.0.0.1:8000/user',
        
            success: function (data) {
                console.log(data)
            }
        });
    })

    resultsArray = [];
    function setAnsValue(value, id) {
        var idname = `${id}`;
        var obj = {};
        
        if (resultsArray.length == 0) {
            obj[idname] = value;
            resultsArray.push(obj);
        }else{
            var nn = resultsArray.filter(x => x[idname])[0];
            if(nn != undefined && nn != null){
                nn[idname] = value;
            }
            else{
                obj[idname] = value
                resultsArray.push(obj);
            }
            // resultsArray.forEach(function (o) {
            //     resultsArray.filter(x => x[value])[0]
            //     o[idname] = `${value}`
            // })
        }
        console.log('result', resultsArray)
    }


    ansArray = [];

    function check_ans(id, value){
        var aidname = `${id}`;
        var obj1 = {};
        if (ansArray.length == 0) {
            obj1[aidname] = value
            ansArray.push(obj1);
        }else{
            var nn = ansArray.filter(x => x[aidname])[0];
            if(nn != undefined && nn != null){
                nn[aidname] = value;
            }
            else{
                obj1[aidname] = value
                ansArray.push(obj1);
            }
            // ansArray.forEach(function (o) {
            //     ansArray.filter(x => x[value])[0]
            //     o[aidname] = value
            //})
        }
        console.log('ansarray', ansArray)
    }

    function ajax_call(url) {

        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            url: url,

            success: function (data) {
                console.log('my que', data)
                $('#main').html('')
                $("#main").append('<b>Q.  </b><srong id="question_title"></srong><br>');
                $('#question_title').text(data.results[0].question);
                var count = 0;
                var rr = resultsArray.filter(x =>x[`${data.results[0].question_id}`])[0];
                $.each(data.results[0].choice, function (key, value) {
                    count = count + 1;
                    var vid = `${count}`;
                    var attrc = '';
                    if(rr != undefined){
                    if(rr[`${data.results[0].question_id}`] == value && rr[`${data.results[0].question_id}`] == value){
                        attrc = 'checked';
                    }
                }
                   
                    $('#main').append(`<br>
                                <input id="${value}${data.results[0].question_id}" class="${data.results[0].question_id}" onclick="setAnsValue('${value}',${data.results[0].question_id})" type="radio" name="${data.results[0].question}" ${attrc}>
                                
                                <label class="options">${value}</label></br>
                            `)

                            // $.each(resultsArray[0], function(key,chvalue){
                                
                            //     if(key == vid){
                            //         $(`#${value}${data.results[0].question_id}`).prop('checked', true);
                            //     }
                            // })

                });

                if(rr != null){
                    $(`#${data.results[0].question_id}`).prop('checked', true);
                }
                if (data.next) {
                    $('#next').show();
                    $('#previous').hide();
                    $('#next').attr('href', data.next)
                    $('#submit').hide();
                }
                else {
                    $('#next').hide();
                    
                    $('<a id="submit" class="btn btn-primary m-3">submit</a>').insertAfter('#previous');
                    $('#submit').show();
                    $('#submit').attr('href', 'http://127.0.0.1:8000/questions')
                }
                if (data.previous) {
                    $('#previous').show();
                    
                    $('#previous').attr('href', data.previous)
                }
                else {
                    $('#next').show();
                    $('#submit').hide();
                }

            }
        });

    }

    $('#questions').remove();
    $('button').click(function () {
        
        $('#startquiz').prop('disabled', true);
        console.log('in')

        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            url: 'http://127.0.0.1:8000/questionschoices',

            success: function (data) {
                console.log('data: ', data);

                $('.question').append('<ul id="questions" class="list-group"><li class="list-group-item "><div class="py-2 h5" id="main"><b>Q  </b><srong id="question_title"></srong></div><a id="previous" class="btn btn-success  mr-auto">previous</a><a id="next" href="" class="btn btn-success m-3">next</a><br></li></ul>');

                $('#quizapp').remove()

                a = $(this).attr('id')


                ajax_call('http://127.0.0.1:8000/questionschoices')

                $('#next').click(function (e) {

                    e.preventDefault();
                    ajax_call($('#next').attr('href'))

                    //resultsArray.map((obj) => { console.log('obj', obj[0]) })
                    console.log('result', resultsArray)

                });
                $('#previous').click(function (e) {
                    e.preventDefault();
                    ajax_call($('#previous').attr('href'))

                });

                $(document).on('click','#submit',function (e) {
                    e.preventDefault();
                    

                    
                    
                    $.ajax({
                        type: 'GET',
                        contentType: 'application/json',
                        dataType: 'json',
                        url: 'http://127.0.0.1:8000/questions',
                    
                        success: function (data) {
                            $('.question').remove();
                            $('.result').append('<div class="card"><h5 class="card-header text-center bold">Result</h5><div class="card-body score"><p class="text-center correct"></p><p class="text-center incorrect"></p></div></div><br>');
                            var correct_ans = 0
                            var incorrect_ans = 0
                            
                            data.forEach(function (o) {
                                var re = resultsArray.filter(x => x[`${o.id}`])[0];
                                if(re != undefined){
                                    if(re[`${o.id}`] == o.correct_answers){
                                        correct_ans+=1
                                    }else{
                                        incorrect_ans+=1
                                    }
                                }
                                console.log(o)
                               
                            })
                            
                            $('.correct').html(`<h3><b>Correct : ${correct_ans}</b></h3>`)
                            $('.incorrect').html(`<h3><b>In Correct : ${incorrect_ans}</b></h3>`)
                            $('.score').append(`<a id="attempts" class="attempts btn btn-success m-3">Your Attempts</a>`)
                            $('.at').append(`<a id="" class="attempts btn btn-success m-3">Your Attempts</a>`)
                            //resultsArray.forEach(function (o) {
                             //   resultsArray.filter(x => x[value])[0]
                            //})
                            //console.log('result data', data)
                            $.ajax({
                                type: 'POST',
                                contentType: 'application/json',
                                dataType: 'json',
                                url: 'http://127.0.0.1:8000/userattempts',
                                data: JSON.stringify({
                                    "user_id": users_id,
                                    "Correct_Count": correct_ans,
                                    "Incorrect_Count": incorrect_ans
                                }),

                                success: function(data, ){
                                    console.log('success')
                                }
                            })
                        }
                    })
                    
                    
                })

                $(document).on('click', '.attempts', function(e){
                    $('#attempts').prop('disabled', true);
                    e.preventDefault();
                    var usersname = '{{request.user}}'
                    $.ajax({
                        type: 'GET',
                        contentType: 'application/json',
                        dataType: 'json',
                        url: 'http://127.0.0.1:8000/userattempts',

                        success: function(data){
                            console.log(data)
                            $('.score').append(`<table class="table table-dark">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">User name</th>
                                    <th scope="col">Correct_Count</th>
                                    <th scope="col">Incorrect_Count</th>
                                  </tr>
                                </thead><tbody class="allattempts">
                                    
                                  </tbody>
                                </table>`)
                            
                            var attempts = 1
                            $.each(data, function(key, value){
                                console.log(key,value)
                                
                                $('.allattempts').append(`<tr><th scope="row">${attempts}</th>
                                    <td>${usersname}</td>
                                    <td>${value.Correct_Count}</td>
                                    <td>${value.Incorrect_Count}</td></tr>`)
                                attempts+=1
                                
                            })
                        }
                    })
                })

            }
        });
    });

</script>
{% endblock %}